.card {
  width: 275px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  min-height: 275px;
  padding: 20px;
  border: 1px solid #e9eff4;
  cursor: pointer;
  margin-right: 10px;
}
.card:hover {
  box-shadow: 0 5px 12px 0 rgba(83, 89, 98, 0.12);
}
.card-header {
  font-weight: 500;
  max-height: 40px;
}
.card-text {
  color: #949494;
}
.card-title {
  color: #484c4c;
}
.more-btn {
  background: none !important;
  border-radius: 0;
  border: none;
  color: #4e904a !important;
  font-family: "vollkorn";
  font-weight: 600 !important;
  box-shadow: none !important;
  padding: 6px 0px !important;
}
img.product-image {
  height: 200px;
}
