@font-face{
  font-family: 'vollkorn';
  src:local('vollkorn'), url('../src/font/vollkorn.ttf') format('truetype');
}

@font-face{
  font-family: 'muli';
  src:local('muli'), url('../src/font/muli.ttf') format('truetype');
}

body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #F7FAF7 !important; */
  background: #3b4e3b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
