.payment-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background: #fff;
}
.payment-options {
  margin-right: 20px;
}
.mpesa-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0px;
}
.mpesa-container img {
  width: 80px;
}
.order-details {
  margin-bottom: 40px;
}
.mobile-field {
  width: 65%;
}
.request-btn {
  font-size: 15px;
  color: #fff !important;
  background: #042133 !important;
  text-transform: capitalize !important;
  border: 0;
  margin-left: auto !important;
  height: 40px !important;
  border-radius: 5px;
}
.order-container {
  display: flex;
  flex-direction: row;
}
.order-label {
  margin-right: 10px;
  font-size: 18px;
  color: #71716d;
}
.order-number {
  color: #4e904a;
  font-size: 23px;
  margin-left: auto;
}
.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.credit-card-header {
  color: #fff;
  font-weight: 500;
}
label.MuiFormControlLabel-root {
  width: 100%;
  background: #eaedf1;
  margin-left: 0px;
  margin-right: 0px;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #4e904a !important;
}
